{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.4/vue.js"></script> {% endcomment %}

<style>

#app_vue .quiz-answer .quiz-answer-label{
    padding-top: 3%;
    font-size: 16px;
}
#app_vue .quiz-answer-text{
    cursor: pointer;
}
#app_vue .quiz-answer-text .quiz-answer-label{
    padding-top: 1%;
    font-size: 16px;
    font-weight: bold;

    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.6875;
    border-radius: 4px;
    border: 1px solid black;
    width: 300px;
    margin-top: 20px;
}
#app_vue{
    padding-top: 30px;
    padding-bottom: 20px;
}
#app_vue .previous-btn{
    background-color: white;
    color: black;
    margin-right: 15px;
}
#app_vue .next-btn{
    color: white;
    background-color: black;
}

#app_vue  .vue-simple-progress{
    margin-top: 10px;
    margin-bottom: 10px;
    background: none;
}
#app_vue .header{
    width: 200px;
    margin: auto;
}
#app_vue .question{
    margin-top: 10px;
    margin-bottom: 30px;
}
#app_vue .align-items-center{
    padding-bottom: 20px;
    padding-top: 20px;
}
@media screen and (min-width: 750px) {
    #app_vue .quiz-answer
    {
        cursor: pointer;
        display:inline-block;
        float:none;
        text-align:left;
        margin-right:-4px;
    }
    #app_vue .btn
    {
        border: 1px solid black;
        padding: 3px 50px;
    }
}
@media screen and (max-width: 750px) {
   #app_vue .quiz-answer
    {
        cursor: pointer;
        float:none;
        text-align:left;
        margin:auto;
        padding-top: 20px;
    }
    #app_vue .btn
    {
        border: 1px solid black;
    }
    
}
#app_vue .v-spinner{
    margin-top: 100px;
    margin-bottom: 100px;
}
</style>
 {% if customer  %}
 <input type="hidden" id="is_login" val='true'>
 {% endif %}
<div id="app_vue">

    <div class="container"  v-if="quiz_selection == true">
        <div class="row text-center">
            <div class="header">
                <img :src="current_quiz.header" class="quiz-img" style="width:100%;height:90%;">
            </div>
            <h3 class="headline mb-0 text-md-center question"> <% current_quiz.question %></h3>
            <div class="col-sm-12 align-items-center">
                
                <div v-bind:class="quiz_class" v-for="(quiz, index) in current_quiz.answers">
                    <div v-on:click="select(index)">
                        <img v-show="quiz.img != null" :src="quiz.img" class="quiz-img" style="width:100%;height:90%;">
                        <div class="text-center quiz-answer-label"><% quiz.label %></div>
                        <div class="text-center quiz-answer-sublabel"><% quiz.sublabel %></div>
                    </div>
                </div>
            </div>
            <button class="flat-right btn previous-btn" v-if="previous_btn == true" v-on:click="previous">< Previous</button>
        </div>
        <vue-simple-progress  size="big" class="mt4" :val="progress_value" text-posit  ion="top"></vue-simple-progress>
    </div>   

    <div class="container text-center" v-if="quiz_loading == true">
        <scale-loader :color="color" :height="height" :width="width"></scale-loader>
    </div>

    <input type="checkbox" id="quiz_result_check" class="hidden">
    <div class="container text-right">
        {% if customer %}
            <button class="flat-right btn next-btn" v-if="quiz_result == true" v-on:click="restart_quiz">Restart Quiz</button>
        {% else  %}
            <a class="flat-right btn next-btn" v-if="quiz_result == true" href="/account/register">Register</a>
        {% endif %}
    </div>


    <div class="container" v-show="quiz_result == true">
        {% assign products_per_row = settings.home_featured_products_num %}
        {%- assign name_collection = section.settings.collection -%}
        {% assign max_products = '50' %}

        <div class="section-header text-center">
            <h3 class="section-header--title">Quiz Result</h3>
        </div>

        <div class="carousel-products row" id="carousel2">
        {% for product in collections['frontpage'].products limit: max_products %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-one-six">
                {% include "integrabeauty-product-grid-item" hoverzoom: "false" %}
            </div>
        {% endfor %}
        </div>

  </div>
    
        
     

</div>

<script>
$(document).on('change', '#quiz_result_check', function(){
    setTimeout(function(){
        productCarousel(jQuery('#carousel2'),6,4,4,2,1);
    }, 500);
   
});

function triggerChange(){
    $("#quiz_result_check").trigger("change");
}






var is_login = document.querySelector('#is_login');
var flag = false;

if(is_login == null)
{
    flag = false;
    console.log('is_login-----------------',is_login);
}
else{
    flag = true;
}

var ScaleLoader = VueSpinner.ScaleLoader;
  var app = new Vue({
    delimiters: ['<%', '%>'],
    el: "#app_vue",
    components: {
        ScaleLoader
        },
    data() {
      return {
        color: '#ff1d5e',
        height: '35px',
        width: '10px',
        size: '100px',
        quiz_result:false,
        progress_value: 0,
        quiz_loading: false,
        quiz_selection: false,
        quiz_data:[
            { 
                question:'In one word, your hair type:',
                header: "{{ 'question1.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'Thin', img:"{{ 'question1_thin.png' | asset_img_url: '300x' }}"},
                    {label:'Medium', img:"{{ 'question1_medium.png' | asset_img_url: '300x' }}"},
                    {label:'Coarse', img:"{{ 'question1_coarse.png' | asset_img_url: '300x' }}"},
                ],
                select:'',
            },
            { 
                question:'Does your hair hold a curl?',
                header: "{{ 'question2.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'Yes', img:"{{ 'question2_yes.png' | asset_img_url: '300x' }}"},
                    {label:'No', img:"{{ 'question2_no.png' | asset_img_url: '300x' }}"},
                ],
                select:'',
            },
            { 
                question:'What is your texture?',
                header: "{{ 'question3.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'Straight', img:"{{ 'question3_straight.png' | asset_img_url: '300x' }}"},
                    {label:'Wavy', img:"{{ 'question3_wavy.png' | asset_img_url: '300x' }}"},
                    {label:'Curly', img:"{{ 'question3_curly.png' | asset_img_url: '300x' }}"},
                    {label:'Frizzy', img:"{{ 'question3_frizzy.png' | asset_img_url: '300x' }}"},
                ],
                select:'',
            },
             { 
                question:'How long is your hair?',
                header: "{{ 'question4.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'Short', img:"{{ 'question4_short.png' | asset_img_url: '300x' }}"},
                    {label:'Medium', img:"{{ 'question4_medium.png' | asset_img_url: '300x' }}"},
                    {label:'Long', img:"{{ 'question4_long.png' | asset_img_url: '300x' }}"},
                ],
                select:'',
            },
            { 
                question:'What is the condition of your hair?',
                header: "{{ 'question5.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'Oily', img:"{{ 'question5_oily.png' | asset_img_url: '300x' }}"},
                    {label:'Damaged', img:"{{ 'question5_damaged.png' | asset_img_url: '300x' }}"},
                    {label:'Dry', img:"{{ 'question5_dry.png' | asset_img_url: '300x' }}"},
                    {label:'Normal', img:"{{ 'question5_normal.png' | asset_img_url: '300x' }}"},
                ],
                select:'',
            },
            { 
                question:'Is your hair dyed?',
                header: "{{ 'question6.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'Yes', img:"{{ 'question6_yes.png' | asset_img_url: '300x' }}"},
                    {label:'No', img:"{{ 'question6_no.png' | asset_img_url: '300x' }}"},
                ],
                select:'',
            },
            { 
                question:'What result do you want?',
                header: "{{ 'question7.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'More volume', img:null},
                    {label:'Less frizzy', img:null},
                    {label:'Shinier, healthier hair', img:null},
                    {label:'Bouncier curls', img:null},
                ],
                select:'',
            },
            { 
                question:'How do you prefer your curls?',
                header: "{{ 'question8.png' | asset_img_url: '300x' }}",
                answers:[
                    {label:'Tight curls', img:"{{ 'question8_tight.png' | asset_img_url: '300x' }}", sublabel:'(long-lasting volume)'},
                    {label:'Loose waves', img:"{{ 'question8_loose.png' | asset_img_url: '300x' }}", sublabel:'(beachy waves messy)'},
                ],
                select:'',
            },
        ],
        current_quiz: [],
        selection:0,
        previous_btn: false,
        next_btn: false,
        current_count: 1,
        itemclass:'',
        submit_btn:false,
        quiz_class:'col-xs-5 col-sm-2 quiz-answer',
        select_count:0,

    }
    },
    
    mounted() {
    },
    created () {
        const data = JSON.parse(localStorage.getItem('results'));
            console.log(data);
        this.init_quiz();
        this.next_btn = true;
        this.quiz_selection = true;
        
    },
    methods: {
        init_quiz(){
            this.current_quiz = this.quiz_data[this.selection];
            this.current_count = this.current_quiz.answers.length;
            console.log('here: ', this.current_quiz.answers);
            console.log(this.itemclass);
        },
        previous(){
            this.calculate_quiz_order('pre');
            this.current_quiz = this.quiz_data[this.selection];
            this.next_btn = true;
            this.submit_btn = false;
            this.is_text();
            if(this.selection == 0 )
            {
                this.previous_btn = false;
                
            }
        },
        next(){
            this.previous_btn = true;
            this.calculate_quiz_order('next');
            console.log(this.selection);
            this.is_text();
            this.current_quiz = this.quiz_data[this.selection];
            if(this.selection == 7 )
            {
                this.next_btn = false;
                this.submit_btn = true;
            }
        },
        select(index){
            if(this.quiz_data[this.selection].select === '')
            {
                this.select_count = this.select_count + 1;
            }
            this.quiz_data[this.selection].select = index;
            this.progress_value = this.select_count * (100/8);
            if(this.selection < 7 )
            {
                this.next();
            }
            if(this.select_count == 8)
            {
                this.quiz_loading = true;
                this.quiz_selection = false;
                var self = this;
                this.save_localstorage();
                setTimeout(function(){
                    self.quiz_loading = false;
                    self.quiz_result = true;
                    triggerChange();
                }, 3000);
            }
            console.log('this.quiz_data[this.selection].=============', this.quiz_data[this.selection]);
            console.log('this.quiz_data++++++++++++++++++++',this.quiz_data);
        },
        calculate_quiz_order(action){
            if(action == 'next')
            {
                this.selection = this.selection + 1;
            }
            else{
                this.selection = this.selection - 1;
            }

        },
        submit()
        {
            console.log('get result');
        },
        is_text()
        {
            if(this.selection == 6)
            {
                this.quiz_class = 'col-xs-12 col-sm-12 quiz-answer-text';
            }
            else{
                this.quiz_class = 'col-xs-5 col-sm-2 quiz-answer';
            }
        },
        save_localstorage()
        {
            console.log('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@',this.quiz_data);
            localStorage.setItem('results', JSON.stringify(this.quiz_data));
            const data = JSON.parse(localStorage.getItem('results'));
            console.log(data);
        },
        restart_quiz()
        {
            this.reset_data();
        },
        reset_data()
        {
            console.log(this.quiz_data);
            for (var i=0;i<this.quiz_data.length;i++)
            {
                this.quiz_data[i].select = '';
            }
            this.selection = 0;
            this.select_count = 0;
            this.quiz_selection = true;
            this.quiz_loading = false;
            this.quiz_result = false;
            this.current_quiz = this.quiz_data[this.selection];
            this.progress_value = this.select_count * (100/8);
            this.previous_btn = false;
        }
        
    },
  });

</script>
</div>