{% assign supercollection = collection.products %}
{% capture collection_grid %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design == "left-right-sidebar" %}col-md-6 col-lg-6 col-xl-8{% else %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design != "closed-sidebar"  %}col-md-8 col-lg-9 col-xl-10{% else %}col-md-12 col-lg-12 col-xl-12{% endif %}{% endif %}{% endcapture %}
{% capture product_grid %}{% case settings.products_in_column %}{% when 'two' %}col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6{% when 'three' %}col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4{% when 'four' %}col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3{% when 'six' %}col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2{% when 'five' %}col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-one-fifth{% when 'nine' %}col-xs-12 col-sm-4 col-md-6 col-lg-6 col-xl-one-nine{% else %}{% endcase %}{% endcapture %}

<div class="container">
  <div class="row">
    {% assign collection_handles = 'tools,cleanse-condition,style,shine-protect,travel,bundles-kits-accessories' | split: ',' %}
    {% for handle in collection_handles %}
    <!-- {{ handle }} -->
    <section class="carousel content {{ collection_grid }}">
      <div class="container">
        <div class="title-with-button ib-title-box">
          <div class="carousel-products__center pull-right"> <span class="btn-prev"></span> <span class="btn-next"></span> </div>
          <h2 class="text-center text-uppercase">{{ collections[handle].title }}</h2>
          {% if settings.show_collection_description %}<span class="description">{{ collections[handle].description }}</span>{% endif %}
        </div>
        <div class="carousel-products row" id="carousel{{ forloop.index0 }}">
          {% for product in collections[handle].products %}
          <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-xl-one-six">
          {% include "integrabeauty-product-grid-item" hoverzoom: "false" %}
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <hr>
    {% endfor %}
  </div>
</div>