<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
{% include 'limespot' %}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NNQFN3');</script>
  <!-- End Google Tag Manager -->
  {% include 'fb-pixel' %}
  <!-- Taboola -->
  <script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view'});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1093479/tfa.js',
  'tb_tfa_script');
  </script>
  <noscript>
    <img src='//trc.taboola.com/1093479/log/3/unip?en=page_view'
         width='0' height='0' style='display:none'/>
  </noscript>
  <!-- End Taboola -->
  <!-- Outbrain -->
  <script data-obct type="text/javascript">
  /** DO NOT MODIFY THIS CODE**/
  !function(_window, _document) {
    var OB_ADV_ID='008f36b0f004c0e20123624b9db920f397';
    if (_window.obApi) {var toArray = function(object) {return Object.prototype.toString.call(object) === '[object Array]' ? object : [object];};_window.obApi.marketerId = toArray(_window.obApi.marketerId).concat(toArray(OB_ADV_ID));return;}
    var api = _window.obApi = function() {api.dispatch ? api.dispatch.apply(api, arguments) : api.queue.push(arguments);};api.version = '1.1';api.loaded = true;api.marketerId = OB_ADV_ID;api.queue = [];var tag = _document.createElement('script');tag.async = true;tag.src = '//amplify.outbrain.com/cp/obtp.js';tag.type = 'text/javascript';var script = _document.getElementsByTagName('script')[0];script.parentNode.insertBefore(tag, script);}(window, document);
obApi('track', 'PAGE_VIEW');
</script>
  <!-- End Outbrain -->
  <!-- ManyChat -->
  {{ 'manychat.js' | asset_url | script_tag }}
  <script src="//widget.manychat.com/588069391390106.js" defer="defer">
  </script>
  <!-- End ManyChat -->
  
  <!-- v2.1.6 -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ "general.meta.keywords" | t }}" />
  <meta name="author" content="{{ "general.meta.author" | t }}">
  <meta name=“google-site-verification” content=“gGnNE3S52Ml0RNY5VK-vAGqAkfK_-WlxeqPxwNQcnNI” />
<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
{{ 'vue.js' | asset_url | script_tag }}
{{ 'vue-simple-progress.min.js' | asset_url | script_tag }}
{{ 'vue-spinner.min.js' | asset_url | script_tag }}
  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  
  {% if settings.use_favicon %}<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />{% endif %}
  
  <script>
  (function () {
    if ( typeof NodeList.prototype.forEach === "function" ) return false;
    NodeList.prototype.forEach = Array.prototype.forEach;
  })();
  if (!String.prototype.startsWith) {
      String.prototype.startsWith = function(searchString, position){
        position = position || 0;
        return this.substr(position, searchString.length) === searchString;
    };
  }
  </script>
  <script>
  document.addEventListener("DOMContentLoaded", function() {
    var windowWidth = window.innerWidth;
    if (typeof windowWidth !== 'number') { windowWidth = 1000; }
    var size;
    if (windowWidth > 768) { size = 'window-size-desktop'; }
    if (windowWidth > 414 && windowWidth <= 768) { size = 'window-size-tablet'; }
    if (windowWidth <= 414) { size = 'window-size-mobile'; }
    document.body.classList.add(size);
  });
  </script>
  
  {% if settings.enable_custom_fonts %}
  	{{ 'fonts.js' | asset_url | script_tag }}
  {% else %}
  	{% include "header-fonts" %}
  {% endif %}
  
  {% include 'header-css' %}

  {{ 'vendor.js' | asset_url | script_tag }}

  {{ 'jquery.cookie.js' | asset_url | script_tag }}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  

  {{ content_for_header }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'cart.api.js' | asset_url | script_tag }}
  {{ 'ib-localstorage.js' | asset_url | script_tag }}
    
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var queryString = window.location.search;
      if (queryString) {
        ibLocalStore.queryString = queryString;
        var queries = queryString.replace('?', '').split('&');
        queries.filter(function (i) { return /coupon/i.test(i) && /=/.test(i); })
        .forEach(function (i) {
          var code = i.split('=')[1];
          Shopify['couponCode'] = code;
          ibLocalStore.coupon = code;
        });
      } else {
        if (ibLocalStore.coupon) {
          Shopify['couponCode'] = ibLocalStore.coupon;
        }
      }
    });
  </script>
  
  <script type="text/javascript">
  (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/Jsh0v0rgB6jJ7DINWNqDFudN3HRrlx0cdayLxlC3/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>

  {% capture l9 %}{% if template == "index" and settings.home_page_layout == 'home-page_layout-9' %} id="layout-9"{% elsif template == "page.home-page_layout-9" %} id="layout-9"{% endif %}{% endcapture %}
  
  <style>
    /*Footer*/
    {% if settings.color_body != settings.color_footer and settings.color_footer != 'rgba(0,0,0,0)' %}
    footer {
      padding-top: 60px;
    }
    @media (max-width: 767px) {
      footer {
        padding-top: 0;
      }
    }
    body:not(.index) #pageContent > .container {
      border: none;
      padding-bottom: 0;
    }
    footer .subscribe-box input {
      border: none !important;
    }
    {% else %}
    {% if settings.color_carticon == settings.color_stucknavigation %}
    @media (min-width: 1024px) {
      .fixedbar .cart .dropdown > a .icon {
        color: {{ settings.color_stucknavigationtext }} !important;
      }
      .fixedbar .cart .dropdown > a:hover .icon {
        color: {{ settings.color_stucknavigationtextactive }} !important;
      }
    }
    {% endif %}
    {% unless settings.show_top_line == false and settings.footer_design == 'footer_design4' %}
    body.index .layout-4 .container:first-child,{% endunless %}
    body.index .layout-0 .container:first-child {
      border-top: 1px solid {{ settings.color_footerlines }};
      padding-top: 60px;
    }
    footer .subscribe-box input {
      border: 1px solid {{ settings.color_footerlines }};
    }
    {% endif %}
    
    #fitImageInTheme .product__inside__image {
      overflow: hidden;
    }
    #fitImageInTheme .product__inside__image > a:first-child {
      display: flex;
      height: {{ settings.product_scale_height }}px;
      align-items: center;
    }
    #fitImageInTheme .product__inside__image > a:first-child img {
      width: 100%;
    }
    {% unless settings.showfixedbar %}.fixedbar {
      display:none !important;
    }{% endunless %}
    {% unless settings.show_preloader %}
    .breadcrumbs,
    #pageContent {
      visibility:hidden;
      -webkit-transition: opacity .4s ease-out;
      -moz-transition: opacity .4s ease-out;
      -o-transition: opacity .4s ease-out;
      transition: opacity .4s ease-out;
      opacity: 0; 
    }
    .breadcrumbs.show,
    #pageContent.show {
      opacity: 1;
      visibility: visible;
    }{% endunless %}
    {% if settings.transparent_header and template == "index" %}
    body {
      background: {{ settings.headertransparentbgcolor }};
    }
    {% endif %}
    {% if settings.hide_title_underline %}
    .another-title .title-under{
      font-size: 24px;
      letter-spacing: 0;
      margin-bottom: 1.667em !important;
    }
    .another-title .title-under:after{
      display: none !important;       
    }
    .another-title .title-with-button {
      overflow: inherit;
    }
    .carousel-products__button {
      top: -14px;
    }
    {% endif %}
  </style>

  {% include 'bold-common' %}
  {% include 'bold-ro-init' %}
  {% include 'shogun-head' %}
  {% if template contains 'page.brand-ambassadors' %}
  <style>.sweettooth-launcher-container { display: none; }</style>
  <script>
    function submitForm(token) {
      var url = 'https://qt9t2fae16.execute-api.us-east-1.amazonaws.com/prod/v1/forms/brand-ambassador';
      var form = $('form#brandAmbassadorForm').serializeArray();
      var data = {};
      form.forEach(function(i) {
        var name = i.name;
        var value = i.value;
        data[name] = value;
      });
      $('div.server-response').append("<div class='loader'></div>");
      $.ajax({
        url: url,
        method: "POST",
        dataType: "json",
        data: JSON.stringify(data),
      }).success(function (res) {
        $('div.server-response').empty();
        $('ul.form-errors').empty();
        $('form#brandAmbassadorForm')[0].reset();
        $('div.server-response').append("Success! We've received your application and will be in touch soon. Thank you.");
      });
    }

    function validate(event) {
      event.preventDefault();
      try {
        var form = $('form#brandAmbassadorForm').serializeArray();
        var formIsValid = $('form#brandAmbassadorForm')[0].checkValidity();
        if (!formIsValid) {
          var errors = [];
          form.forEach(function (i) {
            var name = i.name;
            var value = i.value;
            var requiredFields = ['first_name', 'last_name', 'email', 'phone_number', 'address_line1', 'city', 'postal_code', 'country'];
            if (requiredFields.indexOf(name) >= 0 && !value) {
              var attrId = $('#brandAmbassadorForm input[name="' + name + '"]').attr('id');
              var errorText = $('#brandAmbassadorForm label[for="' + attrId + '"]').text();
              errorText += ' field is required';
              if (name === 'email') { errorText += ' and must be a valid email.'; }
              errors.push(errorText);
            }
          });
          if (errors.length === 0) { errors.push('Email must be valid.'); }
          if (errors.length > 0) {
            $('ul.form-errors').empty();
            errors.forEach(function(i){
              $('ul.form-errors').append('<li>' + i + '</li>');
            });
          }
        } else {
          grecaptcha.execute();
        }
      } catch (e) { console.log(e); }
    }

    function onload() {
      var element = document.getElementById('submit');
      element.onclick = validate;
    }
  </script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {% endif %}
  {% include 'fb-events' %}
</head>

<body{% if template == "index" or template contains "page.home-page_layout" or settings.hide_title_underline %} class="another-title index{% if template == "index" and settings.home_page_layout == 'home-page_layout-2' %} indexlayout2{% endif %}"{% endif %}{{ l9 }}{% if settings.use_scale_product_image %} id="fitImageInTheme"{% endif %}>
  {% if settings.show_helper and template == "index" %}{% section "show-helper" %}{% endif %}
  
  {% capture headerlogo %}{% if settings.transparent_header and template == "index" %}{{ "logotransparent.png" | asset_url }}{% else %}{{ "logo.png" | asset_url }}{% endif %}{% endcapture %}
  
  {% include 'preloader-main' %}
  
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NNQFN3"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  
  <!-- Back to top -->
  <div class="back-to-top"><span class="icon-keyboard_arrow_up"></span></div>
  <!-- /Back to top -->

  {% include "main-menu-mobile" %}

  {% if template == "index" and settings.home_page_layout == 'home-page_layout-2' %}
  	{% include "home-page_layout-2" %}
  {% else %}
  {% if settings.header_design == 'header_design11' %}
  <div class="header-top-bar-wrapper">
    <div class="header-top-bar">
      <b>&bull; FREE</b> STANDARD SHIPPING ON CONTIGUOUS U.S. ORDERS OVER <b>$75 &bull;</b>
    </div>
  </div>
  {% endif %}
    This is my store

  <div class="header-wrapper{% if settings.transparent_header and template == "index" %} transparent transform-mobile{% endif %}">
    {% include settings.header_design %}
  </div>
  {% if template == "index" %}
{% include '_vue_quiz' %}
{% endif %}
    {% if template != "index" %}{% unless template contains "page.home-page_layout" %}{% comment %}{% include "breadcrumb" %}{% endcomment %}{% endunless %}{% endif %}

    <div id="pageContent" class="starthide{% if template == "index" and settings.transparent_footer %} nopadding{% endif %}">
      {{ content_for_layout }}
<limespot></limespot>
    </div>
  
  	{% if handle != "today" %}
      {% if template == "index" and settings.transparent_footer %}{% include "footer-fixed" %}
      {% else %}{% include settings.footer_design %}
      {% endif %}
 	{% endif %}
  
    {% include 'popup_cart' %}
    {% include 'popup-newsletter' %}
    {% include 'popup-quickview' %}

    {% include 'preloader-ajax' %}
  {% endif %}

  <div class="cart_messages" style="display:none">
    <div class="edit">{{ 'cart.header.button_edit' | t }}</div>
    <div class="delete">{{ 'cart.header.button_delete' | t }}</div>
    <div class="price">{{ 'cart.header.price' | t }}</div>
    <div class="qty">{{ 'cart.header.quantity' | t }}</div>
  </div>
  <div class="button_massage" style="display:none">{{ 'products.product.add_to_cart_html' | t }}</div>

  {% include 'header-js' %}
  {% include 'currencies' %}
  {% include 'search-autocomplete' %}
  
  {% if settings.show_helper and template == "index" %}
    <script>
      var adminlinks = '{{ settings.helper_info }}';
    </script>
    {{ 'admin-panel.js' | asset_url | script_tag }}
  {% endif %}
  
 {% include 'back-in-stock-helper' %}
 
 {% include 'manychat-popup' %}
  
 {% include 'sweettooth-initializer' %}

 {% include 'sweettooth-tab-widget' %}
  
<!-- CRITEO START -->
{% include 'criteo-tracking' %}
<!-- CRITEO END -->

{% if template != "index" %}
<!-- Gorgias Chat Widget Start -->
  <!--
<div id="gorgias-chat">
<script>window.gorgiasChatParameters = {}</script>
<script src="https://config.gorgias.io/production/GyBLV6kZmYxNbQkK/chat/ZPB9rx1P3O7WVa3O.js" defer></script>
</div>
-->
<!-- Gorgias Chat Widget End -->
{% endif %}
</body>
</html>