{% assign submenu_iteration = 1 %}
  <ul class="mobile-menu-grid">
  	 {% for block in section.blocks %}
            <li class="mobile-menu-grid-{{ block.id }}">
              {% assign submenu_iteration = submenu_iteration | plus:1 %}
              <a href="{{ block.settings.link }}"{% if block.settings.link %} tabindex="{{submenu_iteration}}"{% endif %}>
              	<div class="mobile-menu-grid-icon"></div>
                <div class="mobile-menu-grid-title">
                  <div class="mobile-menu-grid-inner">
                    {{ block.settings.title }}
                    {% unless block.settings.link %}<div class="mobile-menu-no-link">(Coming Soon!)</div>{% endunless %}
                  </div>
                </div>
              </a>
              
              
            </li>
      {% endfor %}
  </ul>
<style type="text/css">
{% for block in section.blocks %}
.mobile-menu-grid-{{ block.id }} .mobile-menu-grid-icon {
	background-image: url({{ block.settings.image | img_url : 'grande' }});
}
{% endfor %}
</style>
{% schema %}
  {
    "name": "Mobile Menu Grid",
    "max_blocks": 9,
    "blocks": [
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "url",
            "id": "link",
            "label": "Link to Page"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Icon"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
#menu ul.mobile-menu-grid {
    margin: 0 auto;
}
.ib-shop-menu ul.mobile-menu-grid {
    margin: 0 auto;
	list-style:none;
    width: 90%;
    max-width: 1480px;
}
#menu ul.mobile-menu-grid::after,
.ib-shop-menu ul.mobile-menu-grid::after {
    content:'';
    display:block;
    clear:both;
}
#menu ul.mobile-menu-grid li {
    width:33.333%;
    float:left;
    padding-bottom:20%;
    margin:0;
	position:relative;
}
.ib-shop-menu ul.mobile-menu-grid li {
    width:calc(100% / 9);
    float:left;
    padding-bottom:calc(100% / 9);
    margin:0;
	position:relative;
}
#menu ul.mobile-menu-grid a,
.ib-shop-menu ul.mobile-menu-grid a {
    position:absolute;
    width:100%;
    height:100%;
    text-align:center;
    top:0;
    left:0;
    transition: transform .3s;
}
#menu ul.mobile-menu-grid a[href=""],
.ib-shop-menu ul.mobile-menu-grid a[href=""] {
	transform:none;
	cursor:default;
}
#menu ul.mobile-menu-grid a:hover,
.ib-shop-menu ul.mobile-menu-grid a:hover {
	transform:scale(1.05);
}
#menu ul.mobile-menu-grid a[href=""]:hover,
.ib-shop-menu ul.mobile-menu-grid a[href=""]:hover {
	transform:none;
}
#menu .mobile-menu-grid-icon,
.ib-shop-menu .mobile-menu-grid-icon {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    width: 65%;
    height: 65%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#menu .mobile-menu-grid-title,
.ib-shop-menu .mobile-menu-grid-title {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    color: #000;
    line-height: 1em;
    position: relative;
    width: 100%;
    height:100%;
    z-index: 2;
	display:table;
}
#menu .mobile-menu-grid-title {
    font-size: 26px;
	padding: 0 20px;
}
.ib-shop-menu .mobile-menu-grid-title {
    font-size: 18px;
	padding: 0 10px;
}
#menu .mobile-menu-grid-inner,
.ib-shop-menu .mobile-menu-grid-inner {
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:middle;
	white-space:normal;
}
#menu .mobile-menu-no-link,
.ib-shop-menu .mobile-menu-no-link {
    color: #7F7F7F;
}
@media (max-width:1460px) {
	.ib-shop-menu ul.mobile-menu-grid { width: 100%; }
	.ib-shop-menu .mobile-menu-grid-title { font-size: 16px; }
}
@media (max-width:1280px) {
	.ib-shop-menu .mobile-menu-grid-title { font-size: 14px; }
}
@media (min-width:769px) {
	#menu ul.mobile-menu-grid li { padding-bottom:15%; }
}
@media (min-width:481px) and (max-width:680px) {
	#menu .mobile-menu-grid-title {
      font-size: 3.75vw;
      padding:0 10px;
	}
}
@media (max-width:480px) {
	#menu ul.mobile-menu-grid li {
		width:50%;
		padding-bottom:25%;
	}
	#menu .mobile-menu-grid-title {
      font-size: 5.5vw;
      padding:0 10px;
	}
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
